@-moz-document domain("westerngazette.ca") {
/*  Brett Petch
    Version: 2020.01.06   */
 body {
    color: #fff;
    background-color: #000 !important;
}
.tncms-region-ads {
    background-color: #000;
}
.progress {
    background-color: #333;
}
#site-header-container {
    background-color: #000;
    color: #f3f3f3;
}
#site-navbar-container, #main-navigation {
    background-color: #000;
    color: white !important;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ccc;
}
a, a:hover, .pagination > li > a, .pagination > li > a:hover, .btn-link, .dropdown-menu > li > a, blockquote, blockquote p, .asset .asset-body blockquote p {
    color: #ccc;
}
.dropdown-menu {
    background-color: #333;
    color: #ccc;
}
#main-body-container .container, #main-body-container .container_fluid, .well-main {
    background-color: #333;
}
.label-flag {
    background-color: rgba(79, 38, 131, .7) !important;
    color: white;
    font-weight: 600;
    padding: 10px;
}
.asset .asset-body p, .asset #asset-content p {
    color: #ccc;
}
.tnt-headline a:link, .tnt-headline a:visited {
    color: #ccc;
}
.text-muted {
    color: #fff;
}
.block-title.dark > .block-title-inner > * {
    color: white;
}
#site-footer-container, #site-footer {
    background-color: #222;
    color: white;
}
#site-copyright a, #site-footer a {
    color: #ccc;
}
#site-top-nav-container, #site-top-nav {
    background-color: #000;
}
.card-panel {
    background-color: #000 !important;
}
.card.event-list {
    background-color: #000 !important;
    color: #ccc;
    padding: 10px;
}
.panel {
    background-color: #000;
}
.panel-default > .panel-heading {
    background-color: #333;
    color: #ccc;
}
.panel-footer {
    background-color: #000;
}
.breaking, .breaking .container {
    background-color: #000 !important;
}
.breaking .card-headline a, .breaking .card-meta time, .breaking .card-meta a {
    color: #B33 !important;
}
}
